/**
 * Site Header
 * ----------------------------------------------------------------------------
 */
.site-header {
  background: #fff;
  border-bottom: 1px solid _palette(border);
  color: _palette(primary);
}

.site-header-inside {
  padding-bottom: 1.11111em;
  padding-top: 1.11111em;
}

.site-branding {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 1rem;
}

.site-logo {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 10px 0 0;

  a {
    border: 0;
  }

  img {
    max-height: 45px;
  }
}

.profile {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 15px 0 0;

  a {
    border: 0;
  }

  .avatar {
    border: 0px solid _palette(accent);
    box-shadow: 0 0 1px 7px rgba(_palette(accent),.2);
    border-radius: 0;
    display: block;
  }
}

.site-title {
  color: _palette(secondary);
  font-size: 1.11111rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;

  a {
    border: 0;
    color: inherit;
  }
}

.site-description {
  font-size: 12px;
  line-height: 1;
  margin: 0.25em 0 0;
}

#menu-toggle {
  margin-left: auto;
  z-index: 100;
}

.site-navigation {
  background: #fff;
  bottom: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: -100%;
  top: 0;
  -webkit-transition: right .3s, visibility 0s .3s;
  transition: right .3s, visibility 0s .3s;
  visibility: hidden;
  width: 100%;
  z-index: 90;
}

.site-nav-wrap {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.site-nav-inside {
  padding-bottom: 4em;
  padding-top: 4em;
}

.menu {
  border-bottom: 1px solid _palette(border);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.15em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.menu-item {
  border-top: 1px solid _palette(border);
  padding: 0.5em 0;

  a {
    border: 0;
    color: inherit;
  }
}

.menu-item a:hover,
.current-menu-item a {
  color: _palette(accent);
}

.social-links {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1.66667em;

  a {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid _palette(border);
    border-radius: 50%;
    color: inherit;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 30px;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 10px 0.5em 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    width: 30px;

    &:hover {
      background: _palette(accent);
      border-color: _palette(accent);
      box-shadow: 0 0 1px 5px rgba(_palette(accent),.2);
      color: #fff;
    }
  }

  .fab {
    font-size: 16px;
    line-height: 1.875;
  }
}

.site-header.dark {
  background: _palette(secondary);
  border: 0;
  color: _palette(meta);

  .site-navigation {
    background: _palette(secondary);
  }

  .site-title {
    color: #fff;
  }

  .menu,
  .menu-item,
  .social-links a {
    border-color: _palette(primary);
  }

  .social-links a:hover {
    border-color: _palette(accent);
  }
}

@media only screen and (min-width: 801px) {
  .site-header {
    border-bottom: 0;
    border-right: 1px solid _palette(border);
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 30vw;
  }

  .site-header-wrap {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  .site-header-inside {
    padding-bottom: 3.33333em;
    padding-top: 3.33333em;
  }

  .site-branding {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .site-identity {
    margin-bottom: 1.66667em;
    padding: 0;
  }

  .site-logo {
    margin: 0 0 1.66667em;

    img {
      max-height: 100px;
    }
  }

  .profile {
    margin: 0 0 1.66667em;

    .avatar {
      border-width: 0px;
      box-shadow: none;
      object-fit: cover;
      height: auto;
      width: auto;
    }
  }

  .site-title {
    font-size: 1.33333rem;
    line-height: 1.2;
  }

  .site-description {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 0.4em;
  }

  .menu-toggle {
    display: none;
  }

  .site-navigation {
    position: static;
    visibility: visible;
  }

  .site-nav-inside {
    padding: 0;
  }

  .social-links {
    -ms-flex-pack: center;
    justify-content: center;

    a {
      margin: 0 5px 0.5em;
    }
  }
}

@media only screen and (min-width: 1001px) {
  .site-header {
    max-width: 300px;
  }

  .site-header-inside {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .menu--opened {
    .site {
      height: 100%;
      left: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      width: 100%;
      z-index: 9997;
    }
    .site-navigation {
      right: 0;
      -webkit-transition: right .3s ease-in-out;
      transition: right .3s ease-in-out;
      visibility: visible;
    }
  }
}

section#recent-posts {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}
article.post.page.post-full .post-thumbnail {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}
.post-feed .post-thumbnail {
    border-radius: 5px !important;
    margin: 8px 0 !important;
}
.post-feed .post-thumbnail img {
    border-radius: 5px !important;
    width: 80% !important;
    border: 0px solid black;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 3px 5px 18px rgba(0, 0, 0, .5);
}
article.post.post-full .post-thumbnail {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}
article.post.post-full .post-thumbnail img,
a.post-thumbnail img {
    box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7) !important;
}
a.post-thumbnail:hover img {
    box-shadow: 0 20px 50px rgba(99, 40, 165, 0.5) !important;
}
p.stevie_headline_person {
    font-size: 7em;
    font-weight: 900;
    letter-spacing: -3px;
    margin-bottom: 0;
    line-height: .95em;
    padding-bottom: 10px;
    padding-top: 90px;
    font-family: 'Lato', sans-serif !important;
    color: #313131;
}
span.stevie_headline_number {
    font-size: 120px;
    font-weight: 900;
    line-height: 123px;
    font-family: 'Lato', sans-serif !important;
    color: #313131;
}
span.stevie_headline {
    font-size: 83px;
    padding: 0 0 0 29px;
    font-weight: 200;
    vertical-align: top;
    line-height: 120px;
    font-family: 'Lato', sans-serif !important;
    color: #313131;
}
.stevie_headline_period {
    display: none;
    font-family: 'Lato', sans-serif !important;
    color: #313131;
}
/*
.stevie {
    background-color: #000000;
    opacity: 0.6;
}

.stevie {
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.stevie {
    bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.stevie {
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
}
*/
